@font-face {
    font-family: 'Jomhuria-Regular'; 
    src: url('Jomhuria-Regular.ttf');
}

/* Body and title*/
body {
    margin: 10px;
    padding: 0;
    overflow-x: hidden;
    font-family: "Jomhuria-Regular";
    font-size: 2rem;
}
#titulo {
    background-color: #19323C;
    color: #A93F55;
    text-align: center;
    font-family: 'Jomhuria';
    font-size: 210px;
    padding: 0;
}

.Intro {
    background-color: #19323C;
    padding-bottom: 20px;
}

.Scroll {
    text-decoration: wavy;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid purple;
    box-shadow: 0 0 5px rgb(200, 8, 200);
    color: white;
    background-color: #A93F55;
    padding: 10px;
}
/* ------------------------------ MAP ------------------------------ */

#date-slider {
    padding-bottom: 30px;
}
#map-title{
    color:#A93F55;
    padding-left: 50px;
    padding-bottom: 0;
    padding-top: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#map-explanation{
    color: #B8938E;
}

/* ---------------------------- ARTISTS ---------------------------- */

#artists-title {
    text-align: center;
    color: #A93F55;
    font-size: 80px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#Search-icon{
    color: #A93F55; 
    padding-right: 10px;
    padding-left: 8%;
}

#bubble-info{
    color: #B8938E;
    font-size: 30px;
    font-family: 'Jomhuria';
    text-align: center;
}

/* ----------------------------- SONGS ----------------------------- */

#song-legend{
    color: #B8938E;
    font-size: 30px;
}

#selected-icon, #selected-song{
    color: #A93F55;
    font-size: 25px;
}

#non-selected-icon, #non-selected-song{
    color: #FF9666;
    font-size: 25px;
}
/* #selected-song{
    color: #A93F55
} */
