/* styles.css */
@font-face {
    font-family: 'Jomhuria';
    src: url('Jomhuria-Regular.ttf');
}

body {
    background-color: #19323C;
    margin: 0;
    padding: 0;
    font-family: 'Jomhuria';
}

.layout {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5px 700px auto; /* Ajusta la altura máxima aquí */
    grid-template-areas: 'title title' 'parte-artistas bubbles';
    justify-content: center;
    padding: 0 20px;
    height: 100vh;
}

.parte-artistas {
    height: 700px;
    overflow-y: auto;
}

#Search:focus {
    outline: none; 
    box-shadow: 0 0 5px #3498db;  
}

#Search-icon{
    color: #A93F55; 
    padding-right: 10px;
    padding-left: 8%;
}

.artistas-encontrados {
    grid-area: parte-artistas;
    max-height: 85%;
    overflow-y: auto;
    padding-top: 20px;
    margin: 0;
    font-size: 35px;
    padding-left: 40px;
    padding-bottom: 0; /* Ajusta el espacio vertical aquí */
    text-align: left;
    color: #B8938E;
}


.parte-artistas {
    height: 600px;
}

.parte-artistas::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

.parte-artistas::-webkit-scrollbar-thumb {
    background-color: #B8938E; /* Color del "thumb" (la parte móvil de la barra de desplazamiento) */
    border-radius: 5px;
}

.parte-artistas::-webkit-scrollbar-track {
    background-color: #19323C; /* Color de fondo de la barra de desplazamiento */
}

#title {
    text-align: center;
    text-align: center;
    grid-area: 'title';
    padding: 0;
    margin: 10px;
    color: #A93F55;
    font-size: 70px;
}

.bubble {
    position: absolute;
}


#bubbles-container {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    overflow: visible;
}


